.works__header {
  text-align: center;
  background-color: var(--works-header-color);
  padding-bottom: 10px;
}
.works__title {
  font-size: 3em;
}
.works__description {
  font-size: 1em;
  opacity: 0.6;
}
.works__content {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
}
.works__content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works__content-photo {
  width: 500px;
  height: auto;
}
.works__content-card-desc {
  padding: 15px;
  background-color: var(--works-content-card-color);
  width: 100%;
  text-align: center;
}
.works__more {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.works__more-btn,
.works__more-btn:link,
.works__more-btn:visited {
  text-decoration: underline;
  color: var(--works-more-btn-color);
  font-weight: bold;
  border-radius: 6px;
  transition: all 0.2s ease;
  padding: 10px;
}
.works__more-btn:hover{
  border: 2px solid var(--works-more-btn-color);
}
@media (max-width: 500px) {
  .works__content-photo {
    width: 320px;
  }
}
